{
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 160,
  "singleQuote": false,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "configPath": "",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "trailingComma": "es5"
}
